<section id="work" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="section-title text-center">
                            <h1> <span class="alo">nuestras</span> propiedades</h1> 
                            <span class="border-line"></span>
                            <p class="lead subtitle-caption">
                                Revisa las propiedades que tenemos posicionadas en el mercado y publica la tuya con nosotros.
                            </p>
                        </div>
                    </div>
                </div><!--heading row-->



<!--PROPIEDADES-->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="entry-thumb portfolio-thumb">
                            <div class="imgoverlay text-light">
                                <a href="{% static 'core/img/work-1.jpg' %}" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                                    <img src="{% static 'core/img/work-1.jpg' %}" class="img-responsive" alt="">
                                    <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>BONITA CASA CON UN GRAN TERRENO REDEADO DE NATURALEZA CERCANA A LOCALES COMERCIALES Y A LA LOCOMOCION, EN UN BARRIO MUY EXCLUSIVO.</h6></div></div>
                                </a>
                            </div>
                        </div>
                    </div><!--work col-->
                    <div class="col-sm-4">
                        <div class="entry-thumb portfolio-thumb">
                            <div class="imgoverlay text-light">
                                <a href="{% static 'core/img/work-2.jpg' %}" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                                    <img src="{% static 'core/img/work-2.jpg' %}" class="img-responsive" alt="">
                                    <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Branding</h6></div></div>
                                </a>
                            </div>
                        </div>
                    </div><!--work col-->
                    <div class="col-sm-4">
                        <div class="entry-thumb portfolio-thumb">
                            <div class="imgoverlay text-light">
                                <a href="{% static 'core/img/work-3.jpg' %}" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                                    <img src="{% static 'core/img/work-3.jpg'%}" class="img-responsive" alt="">
                                    <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Branding</h6></div></div>
                                </a>
                            </div>
                        </div>
                    </div><!--work col-->
                </div><!--work row-->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="entry-thumb portfolio-thumb">
                            <div class="imgoverlay text-light">
                                <a href="{% static 'core/img/work-4.jpg'%}" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                                    <img src="{% static 'core/img/work-4.jpg'%}" class="img-responsive" alt="">
                                    <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Branding</h6></div></div>
                                </a>
                            </div>
                        </div>
                    </div><!--work col-->
                    <div class="col-sm-4">
                        <div class="entry-thumb portfolio-thumb">
                            <div class="imgoverlay text-light">
                                <a href="{% static 'core/img/work-5.jpg'%}" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                                    <img src="{% static 'core/img/work-5.jpg'%}" class="img-responsive" alt="">
                                    <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Branding</h6></div></div>
                                </a>
                            </div>
                        </div>
                    </div><!--work col-->
                    <div class="col-sm-4">
                        <div class="entry-thumb portfolio-thumb">
                            <div class="imgoverlay text-light">
                                <a href="{% static 'core/img/work-6.jpg'%}" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                                    <img src="{% static 'core/img/work-6.jpg'%}" class="img-responsive" alt="">
                                    <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Branding</h6></div></div>
                                </a>
                            </div>
                        </div>
                    </div><!--work col-->
                </div><!--work row-->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="entry-thumb portfolio-thumb">
                            <div class="imgoverlay text-light">
                                <a href="{% static 'core/img/work-7.jpg'%}" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                                    <img src="{% static 'core/img/work-7.jpg'%}" class="img-responsive" alt="">
                                    <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Branding</h6></div></div>
                                </a>
                            </div>
                        </div>
                    </div><!--work col-->
                    <div class="col-sm-4">
                        <div class="entry-thumb portfolio-thumb">
                            <div class="imgoverlay text-light">
                                <a href="{% static 'core/img/work-8.jpg'%}" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                                    <img src="{% static 'core/img/work-8.jpg'%}" class="img-responsive" alt="">
                                    <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Branding</h6></div></div>
                                </a>
                            </div>
                        </div>
                    </div><!--work col-->
                    <div class="col-sm-4">
                        <div class="entry-thumb portfolio-thumb">
                            <div class="imgoverlay text-light">
                                <a href="{% static 'core/img/work-9.jpg'%}" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                                    <img src="{% static 'core/img/work-9.jpg'%}" class="img-responsive" alt="">
                                    <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Branding</h6></div></div>
                                </a>
                            </div>
                        </div>
                    </div><!--work col-->
                </div><!--work row-->
            </div>
        </section><!--work section end-->