{% extends "core/base.html" %}
{% load static %}

{% block contenido%}

<div class="team">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="section-title text-center">
                    <h1> <span class="alo">PORTAL</span> AGENTE</h1>
                    <span class="border-line"></span>
                    <p class="lead subtitle-caption">
                        Somos un portal inmoviliario pensado para todos posicionamos tu propiedad en el mercado y te asesoramos en tu busqueda.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-4 margin-bottom30">
                <div class="team-box">
                    <img src="{% static 'core/img/team-1.jpg'%}" class="img-responsive" alt="">

                    <ul class="social list-inline">
                        <li><a href="#"><i class="icon icon-social-twitter"></i></a></li>
                        <li><a href="#"><i class="icon icon-social-facebook"></i></a></li>
                        <li><a href="#"><i class="icon icon-social-dribbble"></i></a></li>
                    </ul>
                </div>
                <div class="team-desc">
                    <h4>Daniel Smith</h4>
                    <em>Manager</em>
                </div>
            </div>
            <!--team col end-->
            <div class="col-sm-4 margin-bottom30">
                <div class="team-box">
                    <img src="{% static 'core/img/team-2.jpg' %}" class="img-responsive" alt="">
                    <ul class="social list-inline">
                        <li><a href="#"><i class="icon icon-social-twitter"></i></a></li>
                        <li><a href="#"><i class="icon icon-social-facebook"></i></a></li>
                        <li><a href="#"><i class="icon icon-social-dribbble"></i></a></li>
                    </ul>
                </div>
                <div class="team-desc">
                    <h4>Daniel Smith</h4>
                    <em>Manager</em>
                </div>
            </div>
            <!--team col end-->
            <div class="col-sm-4 margin-bottom30">
                <div class="team-box">
                    <img src="{% static 'core/img/team-3.jpg' %}" class="img-responsive" alt="">
                    <ul class="social list-inline">
                        <li><a href="#"><i class="icon icon-social-twitter"></i></a></li>
                        <li><a href="#"><i class="icon icon-social-facebook"></i></a></li>
                        <li><a href="#"><i class="icon icon-social-dribbble"></i></a></li>
                    </ul>
                </div>
                <div class="team-desc">
                    <h4>Daniel Smith</h4>
                    <em>Manager</em>
                </div>
            </div>
            <!--team col end-->
        </div>
    </div>
</div>
<!--team section end-->

<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <div class="section-title">
                    <h1>PORTAL <span class="alo">AGENTE</span></h1>
                    <span class="border-line"></span>
                    <p class="lead subtitle-caption">
                        Somos una agencia creativa ubicada en <span class="colored-text">Valparaíso, Chile.</span> Y
                        contamos con mas de 400 propiedades bajo nuestra Gestion.
                    </p>
                </div>
            </div>
        </div><!-- title row end-->

        <div class="row">
            <div class="col-sm-6 margin-bottom30">
                <div class="feature-icon-wrap clearfix">
                    <div class="left-side-icon">
                        <i class="ion-ios-lightbulb-outline front-icon"></i>
                        <i class="ion-ios-lightbulb-outline back-icon"></i>
                    </div>
                    <div class="features-text-right">
                        <h3>creative Designs</h3>
                        <p>
                            Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut
                            ullamcorper tellus. Cras porttitor massa.
                        </p>
                    </div>
                </div>
                <!--features icon wrap-->
            </div>
            <!--features col-->
            <div class="col-sm-6 margin-bottom30">
                <div class="feature-icon-wrap clearfix">
                    <div class="left-side-icon">
                        <i class="ion-ios-gear-outline front-icon"></i>
                        <i class="ion-ios-gear-outline back-icon"></i>
                    </div>
                    <div class="features-text-right">
                        <h3>Great support</h3>
                        <p>
                            Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut
                            ullamcorper tellus. Cras porttitor massa.
                        </p>
                    </div>
                </div>
                <!--features icon wrap-->
            </div>
            <!--features col-->
        </div>
        <!--row-->
        <div class="row">
            <div class="col-sm-6 margin-bottom30">
                <div class="feature-icon-wrap clearfix">
                    <div class="left-side-icon">
                        <i class="ion-iphone front-icon"></i>
                        <i class="ion-iphone back-icon"></i>
                    </div>
                    <div class="features-text-right">
                        <h3>Fully Responsive</h3>
                        <p>
                            Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut
                            ullamcorper tellus. Cras porttitor massa.
                        </p>
                    </div>
                </div>
                <!--features icon wrap-->
            </div>
            <!--features col-->
            <div class="col-sm-6 margin-bottom30">
                <div class="feature-icon-wrap clearfix">
                    <div class="left-side-icon">
                        <i class="ion-ios-people-outline front-icon"></i>
                        <i class="ion-ios-people-outline back-icon"></i>
                    </div>
                    <div class="features-text-right">
                        <h3>Dedicated Team</h3>
                        <p>
                            Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut
                            ullamcorper tellus. Cras porttitor massa.
                        </p>
                    </div>
                </div>
                <!--features icon wrap-->
            </div>
            <!--features col-->
        </div>
        <!--row-->
    </div>
    <!--container-->
</section>
<!--about section end-->

{% endblock%}